*{
    margin: 0;
    padding: 0;
}

.footer-1 {
    width: 100%;
    height: 80px;
    background-color: teal
}

.image1-box {
    width: 100%;
    height: 600px;
    background-color:lightgray;
}
.move-me {
    width: 100px;
    height: 100px;
    background-color: royalblue;
}
.bigcolumn {
    width: 65%;
    height: 1000px;
    background-color: lightgreen;

}
.littlecolumn {
    width:100px;
    height: 100px;
    position: absolute;
    bottom: 22px;
    left: 795px;
       
    background-color: red;
}
